/* This file contains CSS rules that extend/overwrite the default rules set in the ximeraServer
 * 
 */ 
 
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555;
}

.xmhint, .xmoplossing, .xmuitkomst  {
	background-color: #1D8DB0 !important;
	color: white;
	font-family: sans-serif;
	font-weight: normal;
	font-size: smaller;
	margin: 1px !important;
	margin-left: auto !important;
	display: block;
	/* max-width: max-content; */
	max-width: 10em !important;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0px !important;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	counter-increment: hint_number;
}

/* increase specificity with double classes ;) */
div.xmhint-content.ui-accordion-content {
	background-color: #00000000; /* transparent; overwrites .ui-widget-content ... */
	border: 1px solid #005000;
	border-top: 1px solid #005000 !important;
	border-left: 3px solid #005000;
	color:   #005000;
	margin-top: 0rem;
	padding: 2px 3rem;
}

div.xmhint-content::before {
	 content: "Hint: ";
	 font-weight: bold;
	 margin-left: -3rem;    /* Hack, see padding above ... */
 }
 


div.xmoplossing-content.ui-accordion-content, div.xmuitkomst-content.ui-accordion-content {
	background-color: #00000000; /* transparent; overwrites .ui-widget-content ... */
	background-color: white;
	border: 1px solid black;
	border-left: 3px solid black;
	color:  black;
	margin-top: 0rem;
	padding: 5px;
}

@counter-style notfirst {
	system: alphabetic;
	symbols: " " "2" "3" "4" "5" "6" "7" "8" "9" "0";
}
  
.xmhint::before {
    content: "Toon hint " counter(hint_number, notfirst);
}
  
.xmhint.ui-state-active::before {
    content: "Verberg hint " counter(hint_number, notfirst);
}
  
.xmoplossing::before {
    content: "Toon uitwerking";
}

.xmoplossing.ui-state-active::before {
    content: "Verberg uitwerking";
}

.xmoplossing-content::before {
    content: "Uitwerking: ";
	font-weight: bold;
}

.xmuitkomst::before {
    content: "Toon uitkomst";
}

.xmuitkomst.ui-state-active::before {
    content: "Verberg uitkomst";
}

.xmuitkomst-content::before {
    content: "Antwoord: ";
	font-weight: bold;
}


.example, .exercise, .question {
    counter-reset: hint_number;
}



/* no decorations for questions-in-hints */
.xmhint-content .question {
    background-color: initial;
    border: initial;
    border-left: initial;
	padding-left: 0;
    margin-top: 0;
    padding-bottom: 0;
}


/* \choice popups should not be clipped, but extend over/outside question-div */
.ui-accordion .ui-accordion-content {
	overflow: initial;
}


div.xmhint-content.ui-accordion-content .question {
	color: unset;
}


/* reset base.css settings in the server */
details.theorem-like:has( .summary-header)::before,
div.theorem-like:has( .summary-header)::before 
{
	content: unset;
	color:red;
}

/* remove all theorem- header formatting */
h4.summary-header,
h5.summary-header,
h6.summary-header
{
	all: unset
}

/* and set them for ximera */
section .summary-header {
    display: inline;
    text-transform: capitalize;
    font-weight: bold;
    padding-right: 0.5em;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

details.theorem-like .summary-title::before {
    content: "(";
}
details.theorem-like .summary-title::after {
    content: ")";
}

details.theorem-like .summary-title {
    opacity: 0.75;
    padding-right: 0.5em;
}


.en-text {
  display: none;
}
.nl-text {
  display: initial;
}


/* Multi-Lingual Formatting */

.multiple-choice[titletext]::before {
	/* Numbered everything in CSS is causing trouble.  TeX should decide the numbering. */
	/* content:"${nameOfClass} " counter($counterToIncrement) ". ";*/
	content:attr(titletext);
}

/*
We setup the problem-environment(s) default display/title text next.
*/

/* Set the problem-environment default(s):
Note that, because there are a number of types, we need a "default" for each type - I don't know how to do this other than hard-code.
Also note: We may want to decide, as a team, what the default text should *actually* be, e.g. capitalize or not, spacing, etc.
*/

.problem::before {
	content:"problem" attr(numbered) ".";
 }

.exploration::before {
	content:"exploration" attr(numbered) ".";
 }

.exercise::before {
	content:"exercise" attr(numbered) ".";
 }

.question::before {
	content:"question" attr(numbered) ".";
 }
/*
If the problem environment(s) have the "titletext" attribute defined, then overwrite the above default with the newly defined default text.
Note: This is used to do automatic translation, but could also be used to change the default text in *any* way we would want,
e.g. use "P1", "Problem 1", "Prob 1", "Exciting Problem 1", etc.
*/
.problem-environment[titletext]::before {
	/* Numbered everything in CSS is causing trouble.  TeX should decide the numbering. */
	/* content:"${nameOfClass} " counter($counterToIncrement) ". ";*/
	content:attr(titletext) attr(numbered) ".";
}

.theorem-like[titletext]::before {
	content:attr(titletext);
}

.feedback[titletext]::before {
	content:attr(titletext) ": ";
}


/* Outcome Formatting */

.outcomeContent {
	/* display: none; */
	color: rgb(51, 0, 181);
}
.outcomeHead {
	text-align: center;
	font-weight: bold;
}
/* 	  
.outcomeHead:hover + .outcomeContent {
	display: block;
} */


/* Voorbeeld alternatieve layout :
.definition {
    background-color: lightgray;
    border: 2px solid black;
    border-left: 12px solid black;
	border-radius: 6px;
}
*/